$black: #000;
$primary: #18BA9B;
$danger: #cc0000;
$warning: rgb(255, 166, 0);
$hover: #F7F7F7;
$even-row: #729F96;
$edit-button: #5BC0DE;
$delete-button: #D9534F;
$error-field: #C64E4E;
$border: #EDEDED;
$gray: #ddd;
$gradient: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);