@import '../../styles/_colors.scss';

.header{
  background: #222529;
  color: white;
  height: 60px;
  padding: 20px;
  &-left{
    float: left;
    width: 30%;
  }
  &-right{
    float: right;
  };
  img{
    padding: 0px;
    display: inline-block;
    margin: -20px 0px 0px 150%;
  }
}
.marvelLogo{
  height: 60px;
  width: 120px;
}
