ul.nav-bar{
  list-style-type: none;
  li{
    display: inline-block;
    font-size: 100%;
    margin: 0 20px;
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
    a{
      color: white;
    }
  }

}