* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.pull-right{
  float: right;
}

.disp-block{
  display: inline-block;
}

@import './styles/components/button.scss';
@import './styles/components/form.scss';
@import './styles/components/grid.scss';
@import './styles/components/table.scss';
@import './styles/components/panel';
@import './styles/components/arrow.scss';