.backArrow{
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
  img {
    transform: translate(-2px, 0);

    &:focus {
      outline: 0;
    }

}
}
.nextArrow{
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);

    &:focus {
      outline: 0;
    }
  }
}