.sliderwrapper{
    position: relative;
    height: 500%;
    width: 100%;
}
.slider{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 700px;
    overflow: hidden;
    white-space: nowrap;
}